In [1]:
import pandas as pd
import numpy as np

In [ ]:
df1_similarity = pd.read_csv("../Dataset/small/similarity-output/part-00000", names = ["user_x", "user_y"])

In [7]:
df1_similarity.head()

    782   2125  0.272
0  9323  10169  0.577
1  1007   8664  0.998
2  4920   6626  0.044
3  3677  10431  0.253
4  3647   7712  0.788

In [3]:
df2_similarity = pd.read_csv("../Dataset/small/similarity-output/part-00001")

In [5]:
user_user_similarity = df1_similarity.append(df2_similarity)

In [6]:
user_user_similarity.head()

   0.262  0.272  10704   2125   782  8991
0    NaN  0.577    NaN  10169  9323   NaN
1    NaN  0.998    NaN   8664  1007   NaN
2    NaN  0.044    NaN   6626  4920   NaN
3    NaN  0.253    NaN  10431  3677   NaN
4    NaN  0.788    NaN   7712  3647   NaN

In [2]:
user_repos = pd.read_csv("../Dataset/small/users_repos.csv")

In [3]:
user_repos.head()

,login,full_name,watchers,forks,followers,following,fork
0,00010011,00010011/x,60,60,20,0,False
1,00010011,00010011/landslide,9,3,20,0,True
2,00010011,00010011/sundown,1,0,20,0,True
3,00010011,00010011/python-markdown-extra,0,0,20,0,False
4,01org,01org/graphbuilder,44,5,1,0,False

In [4]:
user_repos.fork = np.invert(user_repos.fork)
user_repos.fork = user_repos.fork.astype('int')

In [5]:
user_repos.head()

,login,full_name,watchers,forks,followers,following,fork
0,00010011,00010011/x,60,60,20,0,1
1,00010011,00010011/landslide,9,3,20,0,0
2,00010011,00010011/sundown,1,0,20,0,0
3,00010011,00010011/python-markdown-extra,0,0,20,0,1
4,01org,01org/graphbuilder,44,5,1,0,1

In [6]:
user_repos.loc[:,"watchers":"following"] = user_repos.loc[:,"watchers":"following"].\
                                                apply(lambda x: (x-min(x))/(max(x)-min(x)))

In [7]:
user_repos.head()

,login,full_name,watchers,forks,followers,following,fork
0,00010011,00010011/x,0.001769,0.007919,0.001591,0,1
1,00010011,00010011/landslide,0.000290,0.000396,0.001591,0,0
2,00010011,00010011/sundown,0.000058,0.000000,0.001591,0,0
3,00010011,00010011/python-markdown-extra,0.000029,0.000000,0.001591,0,1
4,01org,01org/graphbuilder,0.001305,0.000660,0.000080,0,1

In [8]:
user_repos["bias_score"] = user_repos.watchers + user_repos.forks + user_repos.followers + user_repos.following + \
                           user_repos.fork

In [9]:
user_repos.sort(columns=["bias_score"], ascending=False).head()

,login,full_name,watchers,forks,followers,following,fork,bias_score
110443,twitter,twitter/bootstrap,1.000000,0.941270,0.037538,0,1,2.978807
4685,Homebrew,Homebrew/homebrew,0.435897,1.000000,0.000000,0,1,2.435897
27374,chovy,chovy/node-startup,0.001885,0.000132,0.083983,1,1,2.086000
27375,chovy,chovy/tabbed-navigation,0.000812,0.000792,0.083983,1,1,2.085587
27377,chovy,chovy/nodejs-stream,0.000754,0.000792,0.083983,1,1,2.085529

In [10]:
user_repos.shape

(118304, 8)

In [11]:
user_repo_score = user_repos.drop(["watchers","forks", "followers","following","fork"], axis = 1)

In [12]:
user_repo_score.head()

      login                       full_name  bias_score
0  00010011                      00010011/x    1.011279
1  00010011              00010011/landslide    0.002277
2  00010011                00010011/sundown    0.001649
3  00010011  00010011/python-markdown-extra    1.001620
4     01org              01org/graphbuilder    1.002045

In [13]:
user_index = pd.read_csv("../Dataset/small/user_index_small.csv")
user_index.columns=["index_x", "login"]

In [14]:
user_index.tail()

       index_x      login
12260    12260      zynga
12261    12261     zythum
12262    12262       zz85
12263    12263  zzdhidden
12264    12264     zznate

In [15]:
user_repo_score = pd.merge(user_repo_score, user_index, on="login")

In [16]:
user_repo_score.head()

      login                       full_name  bias_score  index_x
0  00010011                      00010011/x    1.011279        0
1  00010011              00010011/landslide    0.002277        0
2  00010011                00010011/sundown    0.001649        0
3  00010011  00010011/python-markdown-extra    1.001620        0
4     01org              01org/graphbuilder    1.002045        1

In [17]:
user_repo_score.tail()

         login                      full_name  bias_score  index_x
118299  zznate               zznate/IronCount    0.002972    12264
118300  zznate  zznate/flume-cassandra-plugin    0.002972    12264
118301  zznate          zznate/metrics-spring    0.003075    12264
118302  zznate                zznate/astyanax    0.002943    12264
118303  zznate             zznate/java-driver    0.002943    12264

In [18]:
repo_index = pd.read_csv("../Dataset/small/repo_index_small.csv")
repo_index.columns = ["index_y","full_name"]

In [19]:
repo_index.head()

   index_y                       full_name
0        0                      00010011/x
1        1              00010011/landslide
2        2                00010011/sundown
3        3  00010011/python-markdown-extra
4        4              01org/graphbuilder

In [20]:
user_repo_score = pd.merge(user_repo_score, repo_index, on="full_name")

In [21]:
user_repo_score.tail()

         login                      full_name  bias_score  index_x  index_y
118299  zznate               zznate/IronCount    0.002972    12264   118299
118300  zznate  zznate/flume-cassandra-plugin    0.002972    12264   118300
118301  zznate          zznate/metrics-spring    0.003075    12264   118301
118302  zznate                zznate/astyanax    0.002943    12264   118302
118303  zznate             zznate/java-driver    0.002943    12264   118303

In [98]:
user_repo_ratings = user_repo_score.copy()

In [99]:
user_repo_ratings.head()

      login                       full_name  bias_score  index_x  index_y
0  00010011                      00010011/x    1.011279        0        0
1  00010011              00010011/landslide    0.002277        0        1
2  00010011                00010011/sundown    0.001649        0        2
3  00010011  00010011/python-markdown-extra    1.001620        0        3
4     01org              01org/graphbuilder    1.002045        1        4

In [100]:
user_repo_ratings["rating"] = 0

In [101]:
user_repo_ratings.head()

,login,full_name,bias_score,index_x,index_y,rating
0,00010011,00010011/x,1.011279,0,0,0
1,00010011,00010011/landslide,0.002277,0,1,0
2,00010011,00010011/sundown,0.001649,0,2,0
3,00010011,00010011/python-markdown-extra,1.001620,0,3,0
4,01org,01org/graphbuilder,1.002045,1,4,0

In [102]:
for i in range(0,42):
    filename = "/media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-000"+format(i, '02')
    print "Processing file = %s"%(filename)
    ratings = pd.read_csv(filename, names=["index_x", "index_y", "rating"])
    user_repo_ratings = pd.merge(user_repo_ratings, ratings, how="left", on=["index_x","index_y"])
    user_repo_ratings["rating"] = user_repo_ratings.rating_x.fillna(0) + user_repo_ratings.rating_y.fillna(0)
    user_repo_ratings.drop(["rating_x","rating_y"], axis=1, inplace= True)

Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00000
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00001
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00002
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00003
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00004
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00005
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00006
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00007
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00008
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00009
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00010
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00011
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00012
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00013
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00014
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00015
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00016
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00017
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00018
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00019
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00020
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00021
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00022
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00023
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00024
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00025
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00026
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00027
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00028
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00029
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00030
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00031
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00032
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00033
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00034
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00035
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00036
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00037
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00038
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00039
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00040
Processing file = /media/kodekracker/Dell USB Portable HDD/Dataset/rating_output/part-00041

In [103]:
ratings.shape

(959707, 3)

In [106]:
user_repo_ratings[ user_repo_ratings.rating ==0].shape

(0, 6)

In [ ]:
user_repo_ratings['bias_score'] = np.round(user_repo_ratings['bias_score'], 5)

In [110]:
user_repo_ratings.to_csv("user_repo_ratings_small.csv", index = False)